@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    /* primary color */
    --clr-prim-strcyan: hsl(171, 66%, 44%);
    --clr-prim-lghtblue: hsl(233, 100%, 69%);

    /* Neutral color */
    --clr-ntrl-DarkGrayishBlue: hsl(210, 10%, 33%);
    --clr-ntrl-GrayishBlue: hsl(201, 11%, 66%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

p{
    overflow-wrap: break-word;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
   font-size: 1.6rem;
    
}

.bg_section{
 height: 100vh;
}    

.bg_container{
    background-image: url(images/bg-header-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;

}
@media  (max-width: 1200px){
    .bg_container{
        background-image: url(images/bg-header-mobile.png);
        background-position: center;
    
    
    }
}
.home_section{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10.8rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.home_logo img{
    width: 10.5rem;
    height: auto;
    margin-bottom: 2.5rem;
}
.home_title{
    display: flex;
    flex-direction: column;

    max-width: 60rem;
    gap: 1.4rem;
    margin-bottom: 2rem;
}
.home_title p{
    max-width: 60rem;
}
.head_title{
    font-size: 3.8rem;
    font-weight: 700;

    color: var(--clr-ntrl-DarkGrayishBlue);
}
.para_des{
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 62rem;

    color: var(--clr-ntrl-GrayishBlue);
    line-height: 1.6;
}
@media  (max-width: 1200px){
    
    .home_section{
        padding: 10.8rem 2.5rem ;
        gap: 4rem;
    }
    .head_title{
        font-size: 3rem;
    }
    .home_title{
        margin-bottom: 0;
    }
}
button{
    border-radius: 50rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.5rem 3rem;
   
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
.btns{
    display: flex;
    gap: 1.5rem;

}
.btn_ios{
    background-color: var(--clr-prim-strcyan);
    border-bottom: 0.3rem solid hsl(171, 69%, 35%);
    transition: all 0.2s ease-in-out;
}
.btn_ios:hover {
    background-color: hsl(171, 76%, 45%);
  }
.btn_mac{
    border-bottom: 0.3rem solid hsl(233, 69%, 57%);
    background-color: var(--clr-prim-lghtblue);
    box-shadow: 0 0.8rem 4rem rgba(97, 115, 255, 0.3);
    transition: all 0.2s ease-in-out;
}
.btn_mac:hover {
    background-color: hsl(233, 87%, 71%);
  }
  @media  (max-width: 1200px){
    .btns{
      display: flex;
      flex-direction: column;
        padding: 0;
        gap: 2rem;
        width: 100%;
    }
}
.track_section{
    max-width: 70rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    gap: 2rem;
    
}

.subhead_title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--clr-ntrl-DarkGrayishBlue);
}
.subhead_des{
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 60rem;

    color: var(--clr-ntrl-GrayishBlue);
    line-height: 1.6;
}
@media  (max-width: 1200px){
    .track_section{
        margin-top: 4rem;
        padding: 2.5rem;
    }
    .subhead_title{
        font-size: 2.5rem;
    }
    .subhead_des{
        width:auto;
    }
}
.sec1_container{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 5rem;
    align-items: center;
    padding-top: 7rem;
}
.sec1_item img{
    margin-left: -3rem;
    width: 100%;
}
.desktop_info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.features{
   max-width: 30rem;
   line-height: 1.8;
}
.feat_head{
    font-size: 2rem;
    color: var(--clr-ntrl-DarkGrayishBlue);
}
.feat_des{
    font-size: 1.4rem;
    color: var(--clr-ntrl-GrayishBlue);
}
@media  (max-width: 1200px){
    .sec1_container{
      display: flex;
      flex-direction: column;
      justify-items: center;
        padding: 2.5rem;
        margin-bottom: 12rem;
    }
    .sec1_item img{
        margin:0;
    }
    .desktop_info{
        display: grid;
        text-align: center;
    }
    .features{
        padding: 1rem;
    }
   
}


.accs_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8rem;
    padding-top: 12rem;
    
}
.accs_title{
    line-height: 2.4;
}
.accs_img{
    width: 63vw;
}
.accs_img img{
    width: 100%;
    height: auto;
}
@media  (max-width: 1200px){
    .accs_container{
      display: flex;
      flex-direction: column;
      justify-items: center;
        padding: 2.5rem;
        margin: 0;
        gap: 5rem;
    }
    .accs_title{
      line-height: 1.5;
    }
    .accs_img{
        width: auto;
    }
}
.sec3_container{
    color: var(--clr-ntrl-DarkGrayishBlue);
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;

    padding: 3rem;
    gap: 6rem;
   
}
.sec3_title{
    display: flex;
    flex-direction: column;
    line-height: 2.4;
}

.flex_group{
    display: flex;
    justify-content: center;
    color: var(--clr-ntrl-DarkGrayishBlue);
    font-size:2.25rem;
    gap: 5rem;
}

.uni_img{
    width: 3rem;
}
.uni_img img{
    width: 100%;
    height: auto;
}
.cb{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    line-height: 2;
}

.logo_area{
    padding: 2rem;
}
.logos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
   padding: 10rem;
  
}

@media  (max-width: 1200px){
    .sec3_container{
      display: flex;
      flex-direction: column;
      justify-items: center;
        padding: 2.5rem;
        margin: 0;
        margin-top: 5rem;
    }
    .sec3_title{
        line-height: 1.5;
    }
    .flex_group{
        display: flex;
      flex-direction: column;
      justify-items: center;
        padding: 2rem;
        margin: 0;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 6rem;
          padding: 2rem;
          margin: 0;
    }
    .logos img{
        width: 10rem;
    }
    .cb{
        padding: 1rem;
    }
   
}


.clip_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.cliptitle{
    display:flex ;
    justify-content: center;
    flex-direction: column;
    max-width: 730px;
    line-height: 2.4;
}
.btns1{
    margin-top: 4rem;
}

.cliptitle h6{
    color: var(--clr-ntrl-DarkGrayishBlue);
    font-size: 2.25rem;
}
@media  (max-width: 1200px){
    .clip_container{
    margin-top: 8.5rem;
    padding: 2.5rem;
    
    }
    .cliptitle{
        line-height: 1.5;
        width: auto;
        gap: 2rem;
    }
    .btns1{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
      }
  }


.foot_container{
    background-color: hsl(201, 11%, 66% ,10%);
    padding: 3rem;
    margin-top: 10rem;

    display: grid;
    grid-template-columns: 25% 45% 30%;
}

.foot_info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}
.foot_info a{
    text-decoration: none;
    color: var(--clr-ntrl-DarkGrayishBlue);
}
.foot_info a:hover{
    color: var(--clr-prim-strcyan);
}
.soc_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.soc_logo img{
    width: 2rem;
}
.logo_bot{
    display: grid;
    justify-content: center;
}
.logo_bot img{
    width: 5rem;
}

@media  (max-width: 1200px){
    .foot_container{
        margin-top: 14rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .para_text1{

        grid-area: faqarea;
    }
    .para_text2{
        grid-area: privarea;
    }
    .para_text3{
        grid-area: guidarea;
    }
    .para_text4{
        grid-area: contarea;
    }
    .para_text5{
        grid-area: pkarea;
    }
    .foot_info{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 'faqarea' 'contarea' 'privarea' 'pkarea' 'guidarea';
        place-items: center;
        gap: 3rem;
    }

    .soc_logo {
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        padding: 2rem;
        gap: 4rem;
    }
}
.attribution{
    background-color: rgb(236, 181, 119);
    display: flex;
    justify-content: center;
}
